[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "==1.5.7"
fastapi = "==0.70.0"
pycodestyle = "==2.7.0"
pydantic = "==1.8.2"
sqlalchemy2-stubs = "==0.0.2a17"
sqlmodel = "==0.0.4"
starlette = "==0.16.0"
uvicorn = "==0.15.0"
SQLAlchemy = "==1.4.25"

[dev-packages]

[requires]
python_version = "3.10"
